  {% extends 'base.html'%}
 {% block content %}
 
<h1>{{ post.title }} - id {{ post.author.id}}</h1>
<small>By: {{ post.author.first_name}} {{post.author.last_name}} 
  
  {% if user.is_authenticated %}
      {% if user.id == post.author.id %}

            <a href="{% url 'update_post' post.pk %}">Edit</a>
            - <a href="{% url 'delete_post' post.pk %}">Delete</a>
            
      {% endif %}
  {% endif %}

<br></small><br>
<hr>
<br>
    {{post.body}}
<br><br>


<h2>Comments.....</h2>
{% if not post.comments.all %}
          No comments yet....  <a href="{% url 'add_comment' post.pk %}">[Add One]</a>
  {% else %}
      <a href="{% url 'add_comment' post.pk %}">Add Comments..</a><br>
     {% for comment in post.comments.all  %}
       <strong>
            {{ comment.name }} - 
            {{ comment.date_added }}
        </strong>
  <br>
     {{ comment.body }}
     <br>
  {% endfor %}
{% endif %}

<br><br>
      <a href="{% url 'home'%}" class="btn btn-dark">Back</a>

{% endblock %}